body {
  background: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  font-family: Rockwell;
}

audio {
  width: 3%;
  height: 3%;
  position: absolute;
    top: 97%;
    left: 0;
    bottom: 0;
    right: 97%;
}

.centre_circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#centre_day_count_background {
  background: transparent;
  box-shadow: 0 0 200px 0 hotpink;
}

#halo {
  background: transparent;
  -webkit-animation: ripple 1.86s;
  -webkit-animation-iteration-count: infinite;
  border-color: deepskyblue;
  border-style: solid;
}

#day_count {
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  position: relative;
}

#left_align {
  height: 100%;
  left: 0;
  line-height: 100%;
}

#right_align {
  height: 100%;
  left: 85%;
  line-height: 100%;
}

.category_box {
  -webkit-animation: fadeIn 4s;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  color: white;

  width: 15%;
  height: 0;
  padding-bottom: 15%;
  line-height: 300px;
  font-size: 35px;

  text-align: center;
}

.category_box:hover {
  transform: scale(1.5);
  transition: 0.8s;
  z-index: 3;
}
#foods:hover {
  transform-origin: left top;
}
#movies:hover {
  transform-origin: center;
}
#musics:hover {
  transform-origin: left bottom;
}
#photos:hover {
  transform-origin: right top;
}
#places:hover {
  transform-origin: center;
}
#words:hover {
  transform-origin: right bottom;
}

#foods{
  top: 0;
  background-image: url('../images/foodCover.jpg');
}

#movies{
  left: 10%;
  top: 36%;
  background-image: url('../images/movieCover.jpg');
}

#musics{
  bottom: 0;
  background-image: url('../images/musicCover.jpg');
}

#photos{
  top: 0;
  left: 85%;
  background-image: url('../images/photoCover.jpg');
}

#places{
  top: 36%;
  left: 75%;
  background-image: url('../images/placeCover.jpg');
}

#words{
  bottom: 0;
  left: 85%;
  background-image: url('../images/wordCover.jpg');
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


@-webkit-keyframes ripple {
  0% {opacity:0.4; width: 500px; height: 500px;}
  100% {opacity:0; width: 750px; height: 750px;}
}