body {
  background: url(../images/homebackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

audio {
  width: 3%;
  height: 3%;
  position: absolute;
    top: 97%;
    left: 0;
    bottom: 0;
    right: 97%;
}

.centre_circle {
  -webkit-animation: fadeIn 5s;
  width: 450px;
  height: 450px;
  /*line-height: 450px;*/
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  /*background: #000;*/
  margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*box-shadow: 0 0 200px 0 #832113;*/
    box-shadow: 0 0 200px 0 hotpink;
}

#centre_day_count_background {
  background: #000;
}

#halo1 {
  -webkit-animation: expand 1.86s;
  -webkit-animation-iteration-count: infinite;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border-color: deepskyblue;
  margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


@-webkit-keyframes expand {
  0% {opacity:0.4; width: 450px; height: 450px;}
  100% {opacity:0; width: 700px; height: 700px;}
}

#day_count {
  width: 50%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  position: relative;
}

.category_box:hover {
  transform: scale(1.2);
  transform-origin: center;
  transition: 0.8s;
}

#foods{
  -webkit-animation: fadeIn 7s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 6%;
  left: 8%;
  text-align: center;
  font-size: 40px;
  text-align-all: center;
  background-image: url('../images/foodCover.jpg');
  background-size: 100% 100%;
}

#movies{
  -webkit-animation: fadeIn 10s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 39%;
  left: 12%;
  text-align: center;
  font-size: 40px;
  background-image: url('../images/movieCover.jpg');
  background-size: 100% 100%;
}

#musics{
  -webkit-animation: fadeIn 10s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 68%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  background-image: url('../images/musicCover.jpg');
  background-size: 100% 100%;
}

#photos{
  -webkit-animation: fadeIn 10s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 8%;
  right: 10%;
  text-align: center;
  font-size: 40px;
  background-image: url('../images/photoCover.jpg');
  background-size: 100% 100%;
}

#places{
  -webkit-animation: fadeIn 10s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 38%;
  right: 13%;
  text-align: center;
  font-size: 40px;
  background-image: url('../images/placeCover.jpg');
  background-size: 100% 100%;
}

#words{
  -webkit-animation: fadeIn 10s;
  width: 400px;
  height: 225px;
  color: white;
  position: absolute;
  top: 70%;
  right: 9%;
  text-align: center;
  font-size: 40px;
  background-image: url('../images/wordCover.jpg');
  background-size: 100% 100%;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}